{% load static %}<!doctype html>
<html>
  <head>
    <meta cset="utf-8">
        <title>{% block title %}Default Title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        {% block stylesheet %}{% endblock %}
  </head>
  <body>
      <main role="main" class="container">
	{% block content %}
	{% endblock %}
										      </main>
									
										      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script src="{% static 'js/app.js' %}"></script>
										        {% block javascript %}{% endblock %}
										  </body>
</html>
