{% extends 'base.html' %}
{% block javascript %}
	<script>
	function getBook() {
		var id = $("#book_id").val();
		if (id.length > 0) { 
			$("#book").html("");
			$.getJSON('{{ root_url }}/books/' + id +'?format=json', function(jd) {
				$('#book').html('<p> Id: ' + jd.id + '</p>');
				$('#book').append('<p>Name : ' + jd.name+ '</p>');
				$('#book').append('<p> Author: ' + jd.author+ '</p>');
			}).fail(function(jqxhr, textStatus, error) {
			    if (jqxhr.status == 404) {
		        	$('#book').append("This book doesn't exist in our database.");
			    }
			});
		} else {
			$("#book").html("Fill the id field first.");
		}
	};
	
	function newBook() {
		data = {
			name: $("#form_name").val(),
			author: $("#form_author").val(),
		};
		$.post("{{ root_url }}/books/", data)
			.done(function(data) {
				$("#form_name").val("");
				$("#form_author").val("");
				alert("The Book has been inserted correctly, the id is: " + data.id);
			})
			.fail(function() {
				alert("The book hasn't been inserted");
			});
	}
	</script>
{% endblock %}
{% block content %}
	<br>
	<div class="form-group">
		<label for="form_name">Name</label>
		<input type="text" class="form-control" id="form_name">
		<label for="form_author">Author</label>
		<input type="text" class="form-control" id="form_author"><br>
		<button type="button" class="btn btn-dark form-control" onClick="newBook()">Insert book</button>
	</div>
		<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
	<div class="form-group">
		<label for="book_id">Book Id</label>
		<input type="text" class="form-control" id="book_id"><br>
		<button type="button" class="btn btn-dark form-control" onClick="getBook()">Load book</button>

	</div>
	<div id="book">
	</div>
{% endblock %}
